mixin lastAddedFilesList(data = [])
  div.card
    div.card-header
      span #{locales.sidebar.lastAddedFiles}
    if !data.length
      span.py-3.px-3 #{locales.sidebar.noRecentAddedFiles}
    else
      ul.list-group.list-group-flush
        each file in data
          li.list-group-item.d-flex.justify-content-between.align-items-center
            a.text-body(href=`/download/${file.id}` data-toggle="tooltip" data-placement="top" title=file.file_name) #{file.file_name}

mixin topDownloadsList(data = [])
  div.card.mt-3
    div.card-header
      span #{locales.sidebar.topDownloads}
    if !data.length
      span.py-3.px-3 #{locales.sidebar.noRecentDownloadedFiles}
    else
      ul.list-group.list-group-flush
        each file in data
          li.list-group-item.d-flex.justify-content-between.align-items-center
            a.text-body(href=`/download/${file.id}` data-toggle="tooltip" data-placement="top" title=file.file_name) #{file.file_name}
            span.badge.badge-info.badge-pill #{file.download_counter}

div.row
  div.col
    +lastAddedFilesList(lastAddedFiles)
    +topDownloadsList(topDownloads)