html
  include includes/head
  body
    include includes/header
    div.container
      div.row.mt-3
        div.col-8
          span.h1 #{subtitle}
          ul.list-group.my-3
            li.list-group-item #{locales.downloadFile.name} #{fileName}
            li.list-group-item #{locales.downloadFile.size} #{fileSize} MB
            li.list-group-item #{locales.downloadFile.uploadDate} #{uploadDate}
            li.list-group-item #{locales.downloadFile.downloadCounter} #{downloadCounter}
          a.btn.btn-info(href=`/download/${id}/get`)= locales.downloadFile.downloadText
          include includes/scripts
        div.col-4
          include includes/sidebar
      include includes/footer