html
  include includes/head
  body
    include includes/header
    div.container
      div.row.mt-3
        div.col-8
          h1 #{subtitle}
          hr
          p #{locales.addFile.chooseFile}
          form(action="/upload" method="POST" enctype="multipart/form-data")
            div.input-group
              div.custom-file
                input.custom-file-input#uploaderInput(type="file" name="file")
                label.custom-file-label#uploaderLabel(for="uploaderInput")
            small.text-muted #{locales.addFile.maxFileSize} #{maxFileSize / 1000} MB. #{locales.addFile.allowedFormats} #{allowedFileFormats}.
            div.form-check.mt-2
              input.form-check-input#private(type="checkbox" name="isPrivate")
              label.form-check-label(for="private") #{locales.addFile.privateFile}
            div.form-check
              input.form-check-input#ownConfirm(type="checkbox")
              label.form-check-label(for="ownConfirm") #{locales.addFile.confirmRights}
            button.btn.btn-info.mt-2#submitFileBtn(type="submit" disabled) #{locales.addFile.sendFile}
          div#messageContainer
          include includes/scripts
        div.col-4
          include includes/sidebar
      include includes/footer