html
  include includes/head
    title Uploader - #{subtitle}
  body
    include includes/header
    div.container
      div.row.mt-3
        div.col-8
          if !keyword
            div.alert.alert-danger(role="alert")
              span.font-weight-bold Wystąpił błąd! 
              span W zapytaniu przekazano nieprawidłowe parametry.
          else if !results.length
            span Brak wyników.
          else
            span.h1 #{subtitle} - #{keyword}
            hr
            ul.list-group
              each file in results
                li.list-group-item.border-0.p-0.py-1
                  a.text-body(href="/download/" + file.id) #{file.file_name} #{file.file_size}
            if totalPages > 1
              div.row
                ul.pagination.mx-auto.mt-3
                  each _, index in Array(totalPages)
                    - var pageNumber = index + 1;
                    - var pageOffset = index * limit;
                    - var currentPage = (offset / limit) + 1;
                    if pageNumber === currentPage
                      li.page-item.active
                        a.page-link(href=nextPageUrl + pageOffset) #{pageNumber}
                    else
                      li.page-item
                        a.page-link(href=nextPageUrl + pageOffset) #{pageNumber}
          include includes/scripts
        div.col-4
          include includes/sidebar
      include includes/footer