html
  include includes/head
    title Uploader - #{subtitle}
  body
    include includes/header
    div.container
      div.row.mt-3
        div.col-8
          span.h1 #{subtitle}
          p.alert.alert-success.mt-2 Plik <strong>#{fileName}</strong> został pomyślnie zapisany na naszym serwerze jako zasób <strong>#{isPrivate === 0 ? 'publiczny' : 'prywatny'}</strong>.
            if isPrivate === 0
              span= " Oznacza to, że będzie on widoczny w katalogu zasobów i każda osoba będzie mogła uzyskać do niego dostęp."
            else
              span= " Oznacza to, że nie będzie on widoczny w katalogu zasobów i dostęp do niego będzie mogła uzyskać tylko i wyłącznie osoba, która posiada unikalny link."
          div.form-group.mt-3
            label(for="fileShareUrl")
              span Link do pobrania pliku:
              br
              small.text-muted Każda osoba, która posiada ten link, będzie mogła pobrać plik,
            input.form-control#fileShareUrl(value=fileDownloadUrl)
          div.form-group
            label(for="fileDeleteCode")
              span Kod do usunięcia pliku z serwera:
              br
              small.text-muted Zapamiętaj ten kod, jeśli w przyszłości chciałbyś usunąć plik z naszych serwerów.
            input.form-control#fileDeleteCode(value=deleteCode)
          div#messageContainer
          include includes/scripts
        div.col-4
          include includes/sidebar
      include includes/footer