html
  include includes/head
  body
    include includes/header
    div.container
      div.row.mt-3
        div.col-8
          span.h1 #{subtitle}
          p.alert.alert-success.mt-2 #{locales.uploadSummary.file} <strong>#{fileName}</strong> #{locales.uploadSummary.fileSaved} <strong>#{isPrivate === 0 ? locales.uploadSummary.publicFile : locales.uploadSummary.privateFile}</strong>.
            if isPrivate === 0
              span= locales.uploadSummary.publicDescription
            else
              span= locales.uploadSummary.privateDescription
          div.form-group.mt-3
            label(for="fileShareUrl")
              span #{locales.uploadSummary.link}
              br
              small.text-muted #{locales.uploadSummary.linkDescription}
            input.form-control#fileShareUrl(value=fileDownloadUrl)
          div.form-group
            label(for="fileDeleteCode")
              span #{locales.uploadSummary.accessCode}
              br
              small.text-muted #{locales.uploadSummary.accessCodeDescription}
            input.form-control#fileDeleteCode(value=deleteCode)
          div#messageContainer
          include includes/scripts
        div.col-4
          include includes/sidebar
      include includes/footer